*{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

table tr {
    background-color: lavender;
  font-family: 'Gloria Hallelujah', cursive;
    color:rgb(201, 44, 75);
    
}
table th{
    background-color: lightcoral;
    border-style: groove;
    color: rgb(201, 44, 75);
    font-family: 'Gloria Hallelujah', cursive;
}

table td{
    border-style: outset;
    color: rgb(201, 44, 75);
    font-family: 'Gloria Hallelujah', cursive;
}

body {
background-color: rgba(245, 241, 247, 0.897);
}
body main h2{
    font-weight: bolder;
    font-size: larger;
    color: rgb(161, 72, 72);
}

body h1{
     font-family:'Gloria Hallelujah', cursive;
    color: rgb(161, 72, 72);
    font: larger;
}

body header h1{
    font-weight: bolder;
    font-size: larger;
}

body ul{
    color: rgb(161, 72, 72);
    font-weight: bolder;
    font-size: larger;
}

body ul li{
    color:rgb(161, 72, 72);
}

#form fieldset label 
{
    color:rgb(161, 72, 72);
    font-family:'Gloria Hallelujah', cursive;
    background-color:ivory;
}

#submit{
    background-color: rgb(161, 72, 72);
    font-size: 20px;
    padding: 12px;
    border-radius: 50%;
    transition-duration: 0.5s;
    
    display: inline-block;
}


#home{
    font-size: xx-large;
}



  #home2  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    animation-duration: 4s;
    animation-name: none;
}